version: '3'

services:

  api:
    build: api
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always
    read_only: true

  mongo:
    image: mongo:3.4
    ports:
      - 127.0.0.1:27017:27017
    volumes:
      - mongo-data:/data/db
    restart: always

  web:
    build: web
    ports:
      - 80:80
    restart: always

volumes:
  mongo-data:
